<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <!--
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>
  
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    -->   
    <a class="sidebar-nav-item" href="https://burntxnoodle.github.io/home/">About Me</a>
    <a class="sidebar-nav-item" href="https://burntxnoodle.github.io">Main Page</a>
    <a class="sidebar-nav-item" href="https://burntxnoodle.github.io/redteam/">Offensive Security - Home</a> 
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">&tab> Attack Paths and Commands (coming soon)</a>   
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">&tab> HackTheBox</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">&tab> Networking Notes</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">&tab> Resources</a> 
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">CTF - Home</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">&tab> Reverse Engineering</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">&tab> Binary Exploitation</a> 
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">&tab> Forensics (coming soon)</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">Coding and Development</a> 
       
    <!-- <span class="sidebar-nav-item">Always under construction :)</span>  -->
  </nav>

  <div class="sidebar-item">
    <p>
      Always under construction :)
    </p>
  </div>
</div>
